body{
    margin:0;
    display:grid;
    height: 100vh;
    color: #005457;
    font-family: Montserrat;
    background-color: #f2e9dd;
    grid-template-rows: auto auto 1fr auto;
}
header{
    text-align: center;
 }
 aside{
    text-align: center;
    background-color: #faf4ed;
 }
aside ul{
    display: flex;
    text-align: left;
    list-style: square;
    flex-direction: row;
    justify-content: space-around;
}
main{
    display: grid;
    margin: 0 1em 1em 1em;
    grid-template-rows: max-content  max-content  max-content  max-content;
}
nav{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
div.top{
    display: flex;
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-between;
}
textarea{
    resize: none;
    height: 12em;
    font-size: large;
    border: 4px solid #22508C;
    background-color: #faf4ed;
    font-family: 'Courier New', Courier, monospace;
}
div.bottom{
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: right;
}
footer{
    text-align: center;
}
aside ul li:hover{
    cursor: pointer;
    color: #3e056d;
}
aside ul li:active{
    cursor: pointer;
    color: gray;
}




.button{
    height: 3em;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-style: hidden;
}
.newnote{
    width: 6em;
    background-color: #005457;
}
.newnote:hover{
    background-color: #00777b;
}
.darktheme{
    background-color: #6D00C7;
    width: 7em;
}
.darktheme:hover{
    background-color: #8803f5;
}
.save{
    width: 5em;
    margin-right: 1em;
    background-color: #005457;
}
.save:hover{
    background-color: #00777b;
}
.cancel{
    width: 6em;
    background-color: #862D27;
}
.cancel:hover{
    background-color: #a23a32;
}
.button:active{
    background-color: gray;
}
.about{
    margin-right: 1em;
}




.darkbody{
    background-color: rgb(83, 83, 83);
    color: white;
}
.darkbutton{
    background-color: black;
}
.darkbutton:hover{
    background-color: rgb(36, 36, 36);
}
.darkaside{
    background-color: rgb(100, 100, 100);
}
.darktextarea{
    background-color: darkgrey;
    border: 4px solid black;
}
.hide{
    visibility: hidden;
}




@media (min-width: 600px){
    body{
        grid-template-columns: 1fr 4fr;
        grid-template-rows: max-content auto max-content;
    }
    aside{
        grid-row: 1/-1;
    }
    aside ul{
        flex-direction: column;
    }
}